extends layout

block content
		h1 Your ARTicle blogposts.
		p= message
		h2 Here you can view all the posts you have entered.
		div.container
				h3 You have entered #{blogposts.length} blogposts!
				each post in blogposts
					h4 Blogpost #{post.id}
					p #{post.title}
					p #{post.body}
		

